html{
    position: relative;
    height: auto;
    margin: 0;

}
body {

}
.footer{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;

}

.content{
    padding: 120px;
    min-height: auto;
    max-height:3000px;
    margin-bottom:3rem;

    margin-right: 2% ;
    margin-left: 2% ;

}


.card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
a:hover{
    text-decoration:none;
}

header .masthead {

    text-align: center;
    color: #fff;
    background-image: url("/static/img/bgImg.png");
    background-repeat: no-repeat;
    background-attachment: scroll;

    background-size: cover;
}
